@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-size: x-large;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background: rgba(62, 61, 61, 0.324);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

nav div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav div span a {
  color: white;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  font-size: 0.7em;
}

nav div span a.cta {
  background-color: #a0a0a04d;
  border: 0.5pt solid #858585;
  padding: 5px 10px;
  border-radius: 10px;
}

nav div span a.cta:hover {
  background-color: #5d9eff;
  border: none;
}

main {
  padding: 50px 0 0 0;
}

section div.text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

section div.text-wrapper h2 {
  font-family: Open Sans, sans-serif;
  color: white;
  font-size: 2em;
}

section div.text-wrapper h2.left {
  text-align: left;
}

section div.text-wrapper h2.right {
  text-align: right;
}

section div.media {
  width: 50%;
}

.welcome-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-wrapper h1 {
  font-family: Open Sans, sans-serif;
  color: white;
}

.welcome-wrapper h1.title {
  font-size: 3.5em;
  color: #f0f0f0;
}

.welcome-wrapper img {
  width: 100%;
}

.sub-header {
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.sub-header .text-wrapper {
  width: 50%;
  padding-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-header .image-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-header .image-wrapper img {
  padding: 60px 0;
  width: 70%;
}

section.video-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

section.video-section .video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.video-section .video-wrapper video {
  padding: 60px 0;
  width: 70%;
}

section.video-section .text-wrapper {
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.video-section .text-wrapper h2 {
  text-align: end;
}

section.side-faces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #111111;
  padding: 50px 0;
}

section.side-faces span {
  width: calc(100% / 3);
  color: white;
  font-family: Open Sans;
  font-size: 40px;
}

section.side-faces img {
  width: 20em;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.pre-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("/media/iwatchbackherorotated.jpg");
  background-repeat: no-repeat;
  background-position: 125% 0%;
  background-size: contain;
}

section.pre-gallery span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1080px;
  color: white;
  font-family: Open Sans, sans-serif;
  font-size: 50px;
}

section.gallery-wrapper {
  background-color: #111111;
  padding: 100px 0;
}

section.gallery-wrapper .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.gallery-wrapper .gallery article.product-card {
  margin: 0 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  max-width: 350px;
  min-height: 600px;
  margin: 30px 20px;
}

section.gallery-wrapper .gallery article.product-card img {
  width: 70%;
  margin: 0 0 30px 0;
}

section.gallery-wrapper .gallery article.product-card span {
  width: 70%;
}

@media (max-width: 1024px) {
  body {
    font-size: large;
  }
  nav div {
    height: 40px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav div span a.cta {
    padding: 2px 5px;
  }
  .sub-header {
    background-color: #111111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .sub-header .text-wrapper {
    width: 50%;
    padding-left: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sub-header .text-wrapper h2 {
    color: white;
    font-family: Open Sans, sans-serif;
  }
  .sub-header .image-wrapper {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sub-header .image-wrapper img {
    padding: 60px 0;
    width: 70%;
  }
}

@media (max-width: 768px) {
  body {
    font-size: medium;
  }
}

@media (max-width: 480px) {
  body {
    font-size: small;
  }
}
/*# sourceMappingURL=style.css.map */